body {
    font-family: sans-serif;
    
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.contrainer {
max-width: 600px;
margin: 0 auto;
color: #ca170a;
font-family: sans-serif
        }
